// Theming variables
// Overwrites values in Ripple
@import '~@dpc-sdp/ripple-global/scss/settings/functions';

$rpl-colors: (
  'primary': #{var(--primary)},
  'dark_primary': #{var(--dark_primary)},
  'secondary': #{var(--secondary)},
  'extra_dark_neutral': #{var(--extra_dark_neutral)},
  'dark_neutral': #{var(--dark_neutral)},
  'dark_neutral_1': #{var(--dark_neutral_1)},
  'mid_neutral_1': #{var(--mid_neutral_1)},
  'mid_neutral_2': #{var(--mid_neutral_2)},
  'light_neutral': #{var(--light_neutral)},
  'danger': #{var(--danger)},
  'warning': #{var(--warning)},
  'success': #{var(--success)},
  'white': #{var(--white)},
  'black': #{var(--black)}
);

$rpl-button-danger-hover-background-color: #{var(--rpl-button-danger-hover-background-color)};
$rpl-pikaday-header-text-color: #{var(--rpl-pikaday-header-text-color)};
$rpl-breadcrumbs-link-color: #{var(--rpl-breadcrumbs-link-color)};
$rpl-campaign-secondary-summary-text-color: #{var(--rpl-campaign-secondary-summary-text-color)};
$quotation-author-color: #{var(--quotation-author-color)};
$rpl-document-link-meta-color: #{var(--rpl-document-link-meta-color)};
$rpl-campaign-primary-summary-text-color: #{var(--rpl-campaign-primary-summary-text-color)};
$rpl-site-header-logout-btn-background-color-mobile: #{var(--rpl-site-header-logout-btn-background-color-mobile)};
$rpl-document-link-meta-separator-color: #{var(--rpl-document-link-meta-separator-color)};
$callout-wrapper-background-color: #{var(--callout-wrapper-background-color)};
$rpl-section-menu-active-left-bar: #{var(--rpl-section-menu-active-left-bar)};

// Here’s the new gradient if necessary: #86C2B2 - #A6D9CD

// $rpl-gradients: (
//   'primary_gradient': linear-gradient(90deg, #43CE8B 0%, #189D9D 100%),
//   'primary_gradient_90': linear-gradient(180deg, #43CE8B 0%, #189D9D 100%),
//   'primary_gradient_0': linear-gradient(0deg, #43CE8B 0%, #189D9D 100%),
//   'decorative_gradient': linear-gradient(-90deg, #43CE8B 0%, #189D9D 100%),
//   'decorative_gradient_0': linear-gradient(0deg, #43CE8B 0%, #189D9D 100%),
//   'decorative_gradient_90': linear-gradient(-180deg, #43CE8B 0%, #189D9D 100%),
//   'decorative_gradient_180': linear-gradient(90deg, #43CE8B 0%, #189D9D 100%)
// ) !default;

// Fonts
// $rpl-font-directory: '../../../src/assets/fonts/';
// $rpl-fonts: (
//   'regular': ('Point-Book', 'Arial', 'Helvetica', 'sans-serif'),
//   'medium': ('Point-SemiBold', 'Arial', 'Helvetica', 'sans-serif'),
//   'semibold': ('Point-Bold', 'Arial', 'Helvetica', 'sans-serif'),
//   'bold': ('Point-ExtraBold', 'Arial', 'Helvetica', 'sans-serif')
// );
